<div class="espaciador"></div>
<div class="row">
    <div class="col-lg-11" id="titulo">
    <h2>Educación</h2> 
    </div>
    <div class="col-lg-1">
        <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged"><i class="bi bi-plus-circle"></i></button>
    </div>
</div>

<div class="container-fluid">
    <div class="card">
        <div class="row no-gutters" *ngFor="let Educacion of educacion">
            <div class="col-sm-2" id="card-img">
                <img class="img" [src]="Educacion.logoE">
            </div>
            <div class="col-sm-10">
                <div class="card-body">
                    <h4 class="card-title">{{Educacion.nombreE}}</h4>
                    <h5 class="card-subtitle">{{Educacion.descripcionE}}</h5>
                    <h6 class="card-date">{{Educacion.fechaE}}</h6>
                    <p class="card-description">{{Educacion.tareasE}}</p>
                    <button class="btn btn-dark" routerLink="/editedu/{{Educacion.id}}" *ngIf="isLogged"><i class="bi bi-pencil-fill"></i></button>
                    <button class="btn btn-danger" (click)="delete(Educacion.id)" *ngIf="isLogged">
                    <i class="bi bi-trash-fill" ></i></button>
                </div>
            </div>
            <div class="espaciador-interno"></div>
        </div>
    </div>
    
</div>
