<div class="container" *ngIf="proyecto">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <h2>Actualizar el registro seleccionado</h2>
                <br>
                <div class="form-group">
                    <label for="nombre">Nombre del proyecto</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="proyecto.nombre" required>
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripcion del proyecto</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="proyecto.descripcion" required>
                </div>
                <div class="form-group">
                    <label for="img">URL de Imagen</label>
                    <input type="text" class="form-control" id="img" name="img" [(ngModel)]="proyecto.img" required>
                </div>
                <div class="form-group">
                    <label for="link">URL del proyecto</label>
                    <input type="text" class="form-control" id="link" name="link" [(ngModel)]="proyecto.link" required>
                </div>
                <br>
                <button class="btn btn-primary">Actualizar</button>
            </form>
        </div>
    </div>
</div>




