.row{
    padding:20px;
    background-color:#72A0C1;
}
.conteiner{
    width:auto;
}

/*.img-proyecto{
    box-shadow:10px 10px 30px #000000;
}*/

.espaciador{
    padding:20px;
}

div{
    background-color:#72A0C1; 
 }

 .card{
    border-color: #c0c0c0;
    border-bottom: none;
    border-left:none;
    border-right:none;    
}
