<div class="espaciador"></div>
<div class="row">
    <div class="col-lg-11" id="titulo">
    <h2>Proyectos realizados</h2> 
    </div>
    <div class="col-lg-1">
        <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged"><i class="bi bi-plus-circle"></i></button>
    </div>
</div>

<div class="container-fluid">
    <div class="card">
        <div class="card border-secundary mb-3" style="max-width: 18rem;" *ngFor="let Proyectos of proyecto">
            <div>
                <div class="card-header bg-transparent border-success">{{Proyectos.nombre}}</div>
            <div class="card-body text-success">
            <p class="card-text">{{Proyectos.descripcion}}</p>
            </div>
            <div class="card-footer bg-transparent border-success"><button class="btn btn-primary">Ir a proyecto</button>
                <button class="btn btn-dark" routerLink="/editproyecto/{{Proyectos.id}}" *ngIf="isLogged"><i class="bi bi-pencil-fill"></i></button>
                <button class="btn btn-danger" (click)="delete(Proyectos.id)" *ngIf="isLogged"><i class="bi bi-trash-fill"></i></button>
            </div>
                
        </div>
                 
          
        </div>
    </div>
</div>

