<div class="espaciador"></div>
<div class="row">
    <div class="col-lg-11" id="titulo">
    <h2>Proyectos realizados</h2> 
    </div>
    <div class="col-lg-1">
        <button type="button" class="btn btn-dark" routerLink="/nuevoproyecto" *ngIf="isLogged"><i class="bi bi-plus-circle"></i></button>
    </div>
</div>
<hr>

<div class="container-fluid">
    <div class="card">
        <div class="row no-gutters" *ngFor="let Proyectos of proyecto">
            <div class="col-lg-2" id="card-img">
                <img class="img" [src]="Proyectos.img">
            </div>
            <div class="col-lg-10">
                <div class="card-body">
                    <h4 class="card-title">{{Proyectos.nombre}}</h4>
                    <h5 class="card-subtitle">{{Proyectos.descripcion}}</h5>
                </div>
             <div class="col-lg-12" id="buttons"><a [href]="Proyectos.link"><button class="btn btn-primary">Ir a proyecto</button></a>
                    <button class="btn btn-dark" routerLink="/editproyecto/{{Proyectos.id}}" *ngIf="isLogged"><i class="bi bi-pencil-fill"></i></button>
                    <button class="btn btn-danger" (click)="delete(Proyectos.id)" *ngIf="isLogged"><i class="bi bi-trash-fill"></i></button>
            </div>
            </div>
            <div class="espaciador-interno"></div>
        </div>
    </div>
    
</div>