<div class="espaciador"></div>
<div class="row">
    <div class="col-lg-11" id="titulo">
    <h2>Habilidades</h2> 
    </div>
    <div class="col-lg-1">
        <button type="button" class="btn btn-dark" routerLink="/nuevaskill" *ngIf="isLogged"><i class="bi bi-plus-circle"></i></button>
    </div>
</div>
<hr>
<div class="container-fluid">
    <div class="card">
        <div class="row no-gutters">
            <div class="text-center col-sm-3 col-md-3 col-lg-3" *ngFor="let skill of skill">
               <div class="col-lg-3"></div>
               <circle-progress
               [percent]="(skill.porcentaje)"
               [radius]="80"
               [showUnits]="false"
               [imageSrc]="''"
               [title]="(skill.nombre)"
               [titleColor]="'#00000'"
               [titleFontSize]="'15'"
               [showImage]="false"
               [imageHeight]="80"
               [imageWidth]="80"
               [showSubtitle]="false"
               [outerStrokeWidth]="10"
               [innerStrokeWidth]="2"
               [outerStrokeColor]="'#002244'"
               [innerStrokeColor]="'#007791'"
               [animation]="true"
               [animationDuration]="600"
               ></circle-progress>
       <div><button class="btn btn-dark" routerLink="/editskill/{{skill.id}}" *ngIf="isLogged"><i class="bi bi-pencil-fill"></i></button>
        <button class="btn btn-danger" (click)="delete(skill.id)" *ngIf="isLogged">
            <i class="bi bi-trash-fill"></i></button>
    </div>
              
              
           </div>
           
       </div>
    </div>
    
    
