<div class="espaciador"></div>
<div class="row">
    <div class="col-lg-11" id="titulo">
    <h2>Experiencia Laboral</h2> 
    </div>
    <div class="col-lg-1">
        <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged"><i class="bi bi-plus-circle"></i></button>
    </div>
</div>
<hr>
<div class="container-fluid">
    <div class="card">
        <div class="row no-gutters" *ngFor="let Experiencia of expe">
            <div class="col-lg-2" id="card-img">
                <img class="img" [src]="Experiencia.logoE">
            </div>
            <div class="col-lg-10">
                <div class="card-body">
                    <h4 class="card-title">{{Experiencia.nombreE}}</h4>
                    <h5 class="card-subtitle">{{Experiencia.descripcionE}}</h5>
                    <h6 class="card-date">{{Experiencia.fechaE}}</h6>
                    <p class="card-description">{{Experiencia.tareasE}}</p>
                    <button class="btn btn-dark" routerLink="/editexp/{{Experiencia.id}}" *ngIf="isLogged"><i class="bi bi-pencil-fill"></i></button>
                    <button class="btn btn-danger" (click)="delete(Experiencia.id)" *ngIf="isLogged">
                    <i class="bi bi-trash-fill" ></i></button>
                </div>
            </div>
            <div class="espaciador-interno"></div>
        </div>
    </div>
    
</div>
