<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <div class="bienvenida"><h1>Bienvenidos a mi portfolio</h1></div>
        <img [src]="persona.img" class="img-fluid" id="profilepic">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>{{persona.titulo}}</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h2>Acerca de mí</h2>
            <p>{{persona.acercade}}</p>
        </span>
    </div>
    <div class="col-lg-2">
        <button class="btn btn-dark" routerLink="/editper/1" *ngIf="isLogged"><i class="bi bi-pencil-fill"></i> Editar</button>
    </div>

</div>
